.play-today {
	grid-column: center-start / center-end;
	display: flex;
	flex-direction: column;
	margin: 2rem;

	&__head {
		@extend %head;

		&--title {
			@extend %title;
		}

		& a{
			@extend %arrow;
		}
	}
	
	&__dates {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		grid-gap: .5vh calc(.5rem + .5vw);
		
		&--card {
			display: flex;
			flex-direction: column;
			@extend %shadow;

			&__date {
				position: relative;

				&--agenda {
					position: absolute;
					width: 8rem;
					height: 5rem;
					top: 0;
					left: 8px;
					background-color: var(--color-secondary);
				}

				img {
					@extend %img;
				}
			}
			
			&__par {
				padding: 0 1rem;
				background-color: var(--color-secondary);
				color: var(--color-primary);
				font-size: font-size(font-size-small);
				font-weight: 700;
				letter-spacing: .8px;
				text-transform: uppercase;
	
			}
	
			&__info {
				padding: 1rem;
				@extend %info;
			}
	
			&__city {
				padding: 1rem 0;
				display: flex;
				justify-content: start;
				margin: 0 1rem;

				& i {
					font-size: font-size(font-size-regular);
				}
				
				& span {
					margin: 0.5rem;
					font-size: font-size(font-size-regular);
					font-family: 'Poppins', sans-serif;
					line-height: 1;
					font-weight: 500;
				}
			}
		}

	}

}